
* {
    font-family: Arial, Helvetica, sans-serif;
    /* we want to actually pick our product font soon */
}

h1,h2,h3,h4,h5,h6 { 
    margin: 0;
}

body {
    background-color: rgb(24, 15, 15);
    color: #eee;
}

a {
    color:rgb(182, 255, 255);
}
a:visited {
    color:rgb(254, 255, 211);
}

nav {
    
    width: 20%;
    float: left;
    min-width: 160px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

section#tracker {
    width: 60%;
    
    float: left;
    
    padding: 5px;

    margin-bottom: 1rem;
}

section#tracker h2 {
    text-align: center;
    margin-bottom: 5px;
}

footer {
    
    border-top: 1px solid #ccc;
    clear: both;
}