
html {
	font-size: 16px;
}

* {
	font-family: Arial, Helvetica, sans-serif;
	/* we want to actually pick our product font soon */
	
}

h1,h2,h3,h4,h5,h6 { 
	margin: 0;
}

menu ul  {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
	background-color: #333;
	color: #ddd;
	margin: 0;
}

a {
	color:rgb(17, 120, 255);
}
a:visited {
	color:rgb(72, 179, 241);
}

header, section, footer, nav {
	/*border: 1px solid green;*/
}

header {
	grid-area: header;
	height: 10vh;
	background-color: mediumseagreen;
	color: #fff;
	padding: 10px;
	font-size: 1.5rem;
}

menu {
	grid-area: menu;
}

section#app {
	grid-area: main;
	margin: 0 50px;
}

footer {
	grid-area: footer;
}

#grid-container {
	display: grid;
	grid-template-areas: 
		'header header header'
		'menu main main'
		'footer footer footer';
	grid-template-columns: 150px auto auto;
	grid-gap: 10px;
}
